<!DOCTYPE html>
<html>
<%= include partials/navmenu %>
<head>
    <script src="/javascripts/highcharts.js"></script>
    <script src="/javascripts/charts/actualvsplannedbyteam.js"></script>
    <script>
        $(document).ready(function () {
            $("#teamList").kendoDropDownList({
                dataValueField: "_id",
                dataTextField: "name",
                dataSource: {
                    transport: {
                        read: {
                            url: "/teams",
                            dataType: "json",
                            type: "GET",
                            contentType: "application/json"
                        }
                    }
                },
                dataBound: function (e) {
                    getSprintByTeam(this.value());
                },
                change: function (e) {
                    getSprintByTeam(this.value());
                }
            });
        });
    </script>

</head>
<body>

<div id="teamList"></div>
<div id="teamChart"></div>

</body>
</html>