<!DOCTYPE html>
<html>
<%= include partials/navmenu %>
<head>
    <script>
        $(document).ready(function () {
            $("#projectList").kendoDropDownList({
                dataValueField: "_id",
                dataTextField: "name",
                dataSource: {
                    transport: {
                        read: {
                            url: "/projects",
                            dataType: "json",
                            type: "GET",
                            contentType: "application/json"
                        }
                    }
                },
                dataBound: function (e) {
                    getSprintByProject(this.value());
                },
                change: function (e) {
                    getSprintByProject(this.value());
                }
            });

            function getSprintByProject(projectId) {
                $.getJSON('/sprints/getbyproject/' + projectId)
                        .done(function (sprintData) {
                            renderChart(sprintData);
                        });
            }

            function renderChart(sprintData) {
                var chartOptions = {
                    chart: {
                        renderTo: 'chartContainer',
                        type: 'spline'
                    },
                    title: {
                        text: 'Planned vs. Actual by Sprint'
                    },
                    xAxis: {
                        type: 'datetime',
                        labels: {
                            formatter: function () {
                                return Highcharts.dateFormat('%m/%d/%y', this.value);
                            }
                        }
                    },
                    series: [
                        {
                            name: 'Actual Points',
                            data: []
                        },
                        {
                            name: 'Planned Points',
                            data: []
                        }
                    ]
                };
                for (var i = 0; i < sprintData.length; i++) {
                    var d = new Date();
                    d.setFullYear(sprintData[i]._id.year, sprintData[i]._id.month - 1, sprintData[i]._id.dayOfMonth);
                    var endDate = d.toJSON();
                    chartOptions.series[0].data.push([Date.parse(endDate), sprintData[i].actual_points]);
                    chartOptions.series[1].data.push([Date.parse(endDate), sprintData[i].planned_points]);
                }
                var chart = new Highcharts.Chart(chartOptions);
            }

        });
    </script>

</head>
<body>

<div id="projectList"></div>
<div id="chartContainer"></div>

</body>
</html>