<!DOCTYPE html>
<html>
<%= include partials/navmenu %>
<head>
    <script src="/javascripts/highcharts.js"></script>
    <script src="/javascripts/charts/actualvsplannedbyproject.js"></script>
    <script>
        $(document).ajaxError(ajaxErrorHandler);
        $(document).ready(function () {
            $("#projectList").kendoDropDownList({
                dataValueField: "_id",
                dataTextField: "name",
                dataSource: {
                    transport: {
                        read: {
                            url: "/projects",
                            dataType: "json",
                            type: "GET",
                            contentType: "application/json"
                        }
                    }
                },
                dataBound: function (e) {
                    getSprintByProject(this.value(), 'projectChart');
                },
                change: function (e) {
                    getSprintByProject(this.value(), 'projectChart');
                }
            });

        });
    </script>

</head>
<body>

<div id="projectList"></div>
<div id="projectChart"></div>

</body>
</html>