<!-- Andy Sandefer -->
<!DOCTYPE html>
<html>
<%= include partials/navmenu %>
<head>
    <script src="../javascripts/coverflow.min.js"></script>
    <script src="../javascripts/highcharts.js"></script>
    <script src="../javascripts/charts/actualvsplannedbyproject.js"></script>
    <script src="../javascripts/charts/sprintsbyproject.js"></script>

    <link rel="stylesheet" type="text/css" href="../stylesheets/coverflow/coverflow.css"/>

    <style>
        .projectTile {
            width: 110px;
            height: 90px;
            border-style: solid;
            border-width: 1px;
            background: linear-gradient(#000000, gray);
            border-color: gray;
            border-radius: 6px;
            color: white;
            text-align: center;
        }

        .projectTileSelected {
            background: linear-gradient(#ffffff, gray);
            border-color: gray;
            border-radius: 6px;
            color: black;
            text-align: center;
        }

        .microChart {
            width: 400px;
            height: 300px;
            float: left;
            border-style: solid;
            border-width: 1px;
            border-radius: 6px;
            margin-right: 6px;
            padding: 6px;;
        }

        #reportFilters {
            float: left;
            margin-right: 10px;
            border-style: solid;
            border-width: 1px;
            border-radius: 6px;
            padding-left: 20px;
            padding-top: 20px;

        }

        #reportCont {
            float: left;
            padding: 6px;
        }

        .datePicker {
            max-width: 120px;
        }

        #reportFilterToggle {
            width: 20px;
            height: 600px;
            float: left;
            background: linear-gradient(#ffffff, cornflowerblue);
            cursor: pointer;
        }

    </style>

    <script>
        $(document).ajaxError(ajaxErrorHandler);
        $(document).ready(function () {

            //Get Projects
            $.getJSON('/projects')
                    .success(function (projectData) {
                        $.each(projectData, function (i, data) {
                            var projectId = 'project' + data["_id"];
                            var divString = "<div id='" + projectId + "' class='projectTile' data-_id='" + data["_id"] + "'>" + data["name"] + "</div>";
                            $("#coverflowCont").append(divString);
                            //Project Selection handler...
                            $("#" + projectId).on('click', function (e) {
                                $(".projectTileSelected").removeClass("projectTileSelected");
                                $(this).addClass("projectTileSelected");
                                var projectId = $(this).data("_id");
                                window.selectedProjectId = projectId;
                                getSprintByProject(projectId, 'projectChart');
                                getSprintCompositionByProject(projectId, 'projectCompChart');
                            });
                        });
                        $("#coverflowCont").coverflow({
                            width: 500
                        });
                        $(".projectTile:first").trigger('click');
                    });

            //Get Teams
            $("#teamSelector").kendoMultiSelect({
                placeholder: "Team Filter...",
                dataValueField: "_id",
                dataTextField: "name",
                autoBind: false,
                dataSource: {
                    transport: {
                        read: {
                            url: "/teams/",
                            dataType: "json",
                            type: "GET",
                            contentType: "application/json"
                        }
                    }
                }
            });

            //Datepickers
            $("#fromDate").kendoDatePicker({
                format: "MM/dd/yyyy",
                value: ""
            });
            $("#toDate").kendoDatePicker({
                format: "MM/dd/yyyy",
                value: ""
            });

            $("#reportFilterToggle").on('click', function (e) {
                $("#reportFilterPanel").slideToggle(200);
            });

            $("#btnSearch").on('click', function(e){
                e.preventDefault();
                getJiraIssues(window.selectedProjectId, $("#fromDate").val(), $("#toDate").val());
            });

            function getJiraIssues(projectId, startDate, endDate){
                $.getJSON('/jiraissues/source?projectId=' + encodeURIComponent(projectId) + '&startDate=' + reformatDateForJira(startDate) + '&endDate=' + reformatDateForJira(endDate))
                        .done(function(jiraIssues){
                            console.log(jiraIssues);
                        });
            }

        });

    </script>
</head>

<body>

<div id="reportFilters">
    <div id="reportFilterPanel" style="width: 320px; height: 600px; float: left;">
        <div style="width:290px; height: 140px;">
            <div id="coverflowCont">
            </div>
        </div>
        <div style="clear: both; height: 20px;"></div>
        <div>
            <label for="fromDate">From</label>
            <input id="fromDate" class="datePicker">
            <label for="toDate">To</label>
            <input id="toDate" class="datePicker">
        </div>
        <div style="clear: both; height: 20px;"></div>
        <div style="width:290px; max-height: 160px;">
            <select id="teamSelector" multiple="multiple">
            </select>
        </div>
        <div style="clear: both; height: 20px;"></div>
        <div>
            <a id="btnSearch" class="btn btn-default pull-right">Search</a>
        </div>

    </div>
    <div id="reportFilterToggle">
    </div>
</div>


<div id="reportCont">
    <div id="projectChart" class="microChart"></div>
    <div id="projectCompChart" class="microChart"></div>
</div>

<div id="commentCont">

</div>


</body>
</html>
