<!-- Andy Sandefer -->
<!DOCTYPE html>
<html>
<%= include partials/navmenu %>
<body>

<ul>
    <li><a href="/views/sprintsbyteam">Sprint Work Composition by Team</a></li>
    <li><a href="/views/actualvsplannedbyteam">Actual vs Planned by Team</a></li>
    <li><a href="/views/actualvsplannedbyproject">Actual vs Planned by Project</a></li>
</ul>

</body>
</html>
