<!DOCTYPE html>
<html>
<%= include partials/navmenu %>
<head>
    <script>
        $(document).ready(function () {
            var baseUrl = "/projects/";

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: baseUrl,
                        dataType: "json",
                        type: "GET",
                        contentType: "application/json"
                    },
                    update: {
                        url: function (e) {
                            return baseUrl + e._id;
                        },
                        dataType: "json",
                        type: "PUT",
                        contentType: "application/json"
                    },
                    destroy: {
                        url: function (e) {
                            return baseUrl + e._id;
                        },
                        dataType: "json",
                        type: "DELETE",
                        contentType: "application/json"
                    },
                    create: {
                        url: baseUrl,
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read") {
                            return kendo.stringify(options);
                        }
                    }
                },
                pageSize: 20,
                schema: {
                    model: {
                        id: "_id",
                        fields: {
                            _id: { editable: false, nullable: true },
                            name: { validation: { required: true } }
                        }
                    }
                }
            });

            $("#projectGrid").kendoGrid({
                dataSource: dataSource,
                selectable: "row",
                pageable: true,
                height: 450,
                toolbar: ["create"],
                columns: [
                    { field: "name", title: "Name", width: "180px" },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
                ],
                editable: "inline"
            });
        });
    </script>

</head>
<body>

<div id="projectGrid"></div>

</body>
</html>