<!DOCTYPE html>
<html>
<%= include partials/navmenu %>
<head>
    <script>
        $(document).ready(function () {
            $.when($.getJSON('http://localhost:3000/teams'), $.getJSON('http://localhost:3000/projects'))
                    .done(function (teamData, projectData) {
                        var teams = [];
                        for (var i = 0; i < teamData[0].length; i++) {
                            var team = {};
                            team.value = teamData[0][i]._id;
                            team.text = teamData[0][i].name;
                            teams.push(team);
                        }
                        var projects = [];
                        for (var j = 0; j < projectData[0].length; j++) {
                            var project = {};
                            project.value = projectData[0][j]._id;
                            project.text = projectData[0][j].name;
                            projects.push(project);
                        }
                        loadSprintGrid(teams, projects);
                    });

            function loadSprintGrid(teams, projects) {
                var baseUrl = "http://localhost:3000/sprints/";
                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: baseUrl,
                            dataType: "json",
                            type: "GET",
                            contentType: "application/json"
                        },
                        update: {
                            url: function (e) {
                                return baseUrl + e._id;
                            },
                            dataType: "json",
                            type: "PUT",
                            contentType: "application/json"
                        },
                        destroy: {
                            url: function (e) {
                                return baseUrl + e._id;
                            },
                            dataType: "json",
                            type: "DELETE",
                            contentType: "application/json"
                        },
                        create: {
                            url: baseUrl,
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read") {
                                return kendo.stringify(options);
                            }
                        }
                    },
                    pageSize: 20,
                    schema: {
                        model: {
                            id: "_id",
                            fields: {
                                _id: { editable: false, nullable: true },
                                start_date: { type: "date", validation: { required: true }},
                                end_date: { type: "date", validation: { required: true }},
                                team_id: { field: "team_id", type: "string", validation: { required: true }, defaultValue: teams[0].value },
                                project_id: { field: "project_id", type: "string", validation: { required: true }, defaultValue: projects[0].value },
                                planned_points: { type: "number", validation: { required: true }},
                                actual_points: { type: "number", validation: { required: true }},
                                non_scored_tasks: { type: "number", validation: { required: true }},
                                standard_story_points: { type: "number", validation: { required: true }},
                                research_spike_points: { type: "number", validation: { required: true }},
                                refactor_points: { type: "number", validation: { required: true }}
                            }
                        }
                    }
                });

                $("#sprintGrid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    selectable: "row",
                    resizable: true,
                    sortable: true,
                    filterable: true,
                    height: 450,
                    toolbar: ["create"],
                    columns: [
                        { field: "start_date", title: "Start Date", width: "100px", template: '#= kendo.toString(start_date, "MM/dd/yyyy") #' },
                        { field: "end_date", title: "End Date", width: "100px", template: '#= kendo.toString(end_date, "MM/dd/yyyy") #' },
                        { field: "team_id", title: "Team", width: "180px", values: teams },
                        { field: "project_id", title: "Project", width: "180px", values: projects },
                        { field: "planned_points", title: "Planned Points", width: "80px"},
                        { field: "actual_points", title: "Actual Points", width: "80px"},
                        { field: "standard_story_points", title: "Story Points", width: "80px"},
                        { field: "research_spike_points", title: "Research Spike Points", width: "100px"},
                        { field: "refactor_points", title: "Refactor Points", width: "80px"},
                        { field: "non_scored_tasks", title: "Non Scored Tasks", width: "100px"},
                        { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
                    ],
                    editable: "inline"
                });
            }

        });
    </script>

</head>
<body>

<div id="sprintGrid"></div>

</body>
</html>