<!-- Andy Sandefer -->
<!DOCTYPE html>
<html>
<%= include partials/navmenu %>
<head>
    <script>
        $(document).ready(function () {
        });

    </script>
</head>

<body>
<h2>Settings</h2>

</body>
</html>
