<!DOCTYPE html>
<html>
<%= include partials/navmenu %>
<head>
    <script src="/javascripts/highmaps.js"></script>
    <script src="/javascripts/data.js"></script>
    <script src="/javascripts/us-all.js"></script>

    <div id="mapContainer" style="height: 600px; min-width: 510px; max-width: 800px; margin: 0 auto"></div>

    <script>
        $(document).ajaxError(ajaxErrorHandler);
        $(document).ready(function () {
            getDistByTeam();

            function getDistByTeam() {
                $.getJSON('/teams/getdistbyteam')
                        .done(function (data) {
                            renderMap(data);
                        });
            }

            function renderMap(data) {
                var chartOptions = {
                    chart: {
                        renderTo: 'mapContainer',
                        type: 'map',
                        borderWidth: 1
                    },
                    title: {
                        text: 'Software Team Distribution by State'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        floating: true,
                        verticalAlign: 'bottom'
                    },
                    mapNavigation: {
                        enabled: true
                    },
                    colorAxis: {
                        min: 1,
                        type: 'logarithmic',
                        minColor: '#EEEEFF',
                        maxColor: '#000022',
                        stops: [
                            [0, '#EFEFFF'],
                            [0.67, '#4444FF'],
                            [1, '#000022']
                        ]
                    },
                    series: [
                        {
                            animation: {
                                duration: 1000
                            },
                            data: data,
                            mapData: Highcharts.maps['us-all'],
                            joinBy: ['postal-code', '_id'],
                            dataLabels: {
                                enabled: true,
                                color: 'white',
                                format: '{point._id}'
                            },
                            name: 'Software Team Distribution by State',
                            tooltip: {
                                pointFormat: '{point._id}: {point.totalTeams}'
                            }
                        }
                    ]
                }
                var chart = new Highcharts.Chart(chartOptions);
            }

        });
    </script>
</head>
<body>
<div id="mapContainer"></div>
</body>
</html>