<!-- Andy Sandefer -->
<!DOCTYPE html>
<html>
<body>
<h3>File Uploader</h3>

<form id="fileUpload" method="post" action="/uploads" enctype="multipart/form-data">
    <input id="payload" type="file" name="myFile" accept="image/*"/>
    <br/>
    <input type="submit" value="Upload File" name="submit">
</form>
</body>
</html>