body {
    /*min-height: 800px;*/
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
}

a {
    color: #00B7FF;
}

.k-grid-content {
    font-size: 11px;
}

.k-button {
    font-size: 10px;
    line-height: 12px;
}

.k-grid td {
    padding: 4px;
    line-height: 13.5px;
}

.k-grid .k-grid-header .k-header .k-link {
    height: auto;
}

.k-grid .k-grid-header .k-header {
    white-space: normal;
}

.reportPanel {
    width: 300px;
    float: left;
    margin-right: 10px;
    min-height: 280px;
}

form label {
    min-width: 120px;
}