body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.k-grid-content {
    font-size: 11px;
}

.k-button {
    font-size: 10px;
    line-height: 12px;
}

.k-grid td {
    padding: 4px;
    line-height: 13.5px;
}

.k-grid .k-grid-header .k-header .k-link {
    height: auto;
}

.k-grid .k-grid-header .k-header {
    white-space: normal;
}